*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: sans-serif
    object-fit: contain

button
    border: 0
    background: transparent

html
body
#debakatas
    font-size: 16px
    height: 100vh
    overflow: hidden
    width: 100vw

#debakatas
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background: url("../assets/bg.png")
    background-position-x: -180px
    background-repeat: no-repeat