.button {
    background: var(--purple);
    color: white;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 1.2rem;
    margin-right: 0.5rem;
}

.button:last-of-type {
    margin-right: 0;
}

.button:hover {
    background: #473b6b;
}

.container {
    font-size: 1rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
